TIMELY_API_URL=
TIMELY_API_KEY=
TIMELY_API_TIMEOUT=
TIMELY_ACCOUNT_ID=
TIMELY_USER_ID=

# Start date for the report period (ISO 8601 format: YYYY-MM-DD)
TIMELY_SINCE=

# Possible table styles:
# default, markdown, borderless, compact, symfony-style-guide, box, box-double
TABLE_STYLE=
