* text=auto eol=lf
/.github export-ignore
.scrutinizer.yml export-ignore
BACKERS.md export-ignore
CONTRIBUTING.md export-ignore
/CHANGELOG.md export-ignore
/app export-ignore
/bootstrap export-ignore
/config export-ignore
/docs export-ignore
/tests export-ignore
/box.json export-ignore
/Makefile export-ignore
/overtimely export-ignore
/phpunit.xml.dist export-ignore
/.editorconfig export-ignore
/composer.lock export-ignore
